em strong{
    color:rgb(225, 129, 255);
}
p { 
    text-align: center;
}
.titulo-centralizado{
    text-align: center;
}
.titulo-principal{
    padding-left: 20px;
}
#missão{
    font-size: 20px;
}
#banner{
    width: 100%;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #ffffff;
}
.principal{
    background: #cccccc; 
    padding: 30px;
}
ul{
    display: inline-block; 
    vertical-align: top; 
    width: 5%;
    margin: 15%;
}
.imagembeneficios{
    width: 50%;
}